BANKFLOW_GATEWAY_URL=http://localhost:8080
BANKFLOW_IDENTITY_URL=http://localhost:8081
BANKFLOW_TRANSFERS_URL=http://localhost:8082
BANKFLOW_ACCOUNTS_URL=http://localhost:8083
BANKFLOW_COOKIE_SECURE=false
BANKFLOW_GATEWAY_PUBLIC_URL=http://localhost:8080
BANKFLOW_IDENTITY_PUBLIC_URL=http://localhost:8081
BANKFLOW_TRANSFERS_PUBLIC_URL=http://localhost:8082
BANKFLOW_ACCOUNTS_PUBLIC_URL=http://localhost:8083
ASPIRE_DASHBOARD_PUBLIC_URL=http://localhost:18888
RABBITMQ_MANAGEMENT_PUBLIC_URL=http://localhost:15672
